    <div class="page-footer">
      <div class="container d-flex justify-content-between">
        <div>
          <a href="/about" class="footer-text" style="cursor: pointer;"><%= About %></a>
          <span> | </span>
          <a href="/submission" class="footer-text" style="cursor: pointer;"><%= Submit %></a>
          <span> | </span>
          <a href="/contribution" class="footer-text" style="cursor: pointer;"><%= Contribute %></a>
        </div>
      
        <span class="footer-text"><%= CopyrightText %></span>
        <div onclick="toggleDarkMode()" id="dark-mode-toggle">
          <span id="theme-icon">🌚</span>
          <span id="theme-label"><%= DarkMode %></span>
        </div>
      </div>
    </div>
