<div id="generated-streamer-reveal-container" class="container-fluid">
  <canvas id="confetti-canvas"></canvas>
  <div class="row mb-3 justify-content-center">
    <h1 class="result-title-text"><%=getText('results-title') %></h1>
  </div>
  <div class="row mb-3 justify-content-center">
    <h2 class="result-subtitle-text"><%=getText('results-subtitle') %></h2>
  </div>
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <%- include("./first_place_result") %>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col-xs-12 col-md-3">
      <div class="streamer-info-container others">
          <%- include("./secondary_result",{ rank:2 }) %>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="streamer-info-container others">
          <%- include("./secondary_result",{ rank:3}) %>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="streamer-info-container others">
        <%- include("./secondary_result",{ rank:4 }) %>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="streamer-info-container others">
        <%- include("./secondary_result",{ rank:5 }) %>
      </div>
    </div>
  </div>
  <div class="col" style="text-align:center;">
    <button id="hide-button" type="button" onclick="toggle()" class="btn btn-quiz-answer btn-quiz-more">
      <span><%=getText("more")%></span>
    </button>
  </div>
  <div id="extra" style="display:none">
    <div class="row mb-3 justify-content-center">
      <div class="col-xs-12 col-md-3">
        <div class="streamer-info-container lastrow">
            <%- include("./tertiary_result",{ rank:6 }) %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="streamer-info-container lastrow">
            <%- include("./tertiary_result",{ rank:7}) %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="streamer-info-container lastrow">
          <%- include("./tertiary_result",{ rank:8 }) %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="streamer-info-container lastrow">
          <%- include("./tertiary_result",{ rank:9 }) %>
        </div>
      </div>
      </div>
  </div>
  <div class="row mb-5">
    <div class="col" style="text-align:center;">
      <button id="restart-button" type="button" onclick="restartQuiz()" class="btn btn-quiz-answer btn-quiz-restart">
        <span><%=getText("restart")%></span>
      </button>
    </div>
  </div>
</div>