<a target="_blank" style="text-decoration:none;" id=<%=`streamer-${rank}-twitch_link`%> >
    <div class="live-container">
        <div class="live">
            <div id=<%=`streamer-${rank}-is_live`%>>
                LIVE
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">
            <div style="border-radius: 50%; border-color:#DAB9DF; border-width: 2px; height:100px; width:100px; margin-bottom: 24px; margin-top:12px; overflow: hidden; margin-left:auto; margin-right:auto;">
                <img id=<%=`streamer-${rank}-logo`%> style="max-width: 100%; max-height: 100%;" src="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <span class="streamer-username" id=<%=`streamer-${rank}-user_name`%>>JinriTV</span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div>
                <span class="streamer-bio" id=<%=`streamer-${rank}-bio`%>>bio here</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div>
                <span class="streamer-languages" id=<%=`streamer-${rank}-languages`%>>languages here</span>
            </div>
        </div>
    </div>
    <div class="row socials-container mb-4">
        <div class="col">
        </div>
        <div class="col">
            <div>
                    <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/twitchlogo.png" />
            </div>
        </div>
        <div class="col">  
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="percent-match"><strong id=<%=`streamer-${rank}-match`%>>98</strong>%</span>
        </div>
    </div>
</div>
</a>