<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <div style="border-radius: 50%; border-color:#DAB9DF; border-width: 2px; height:100px; width:100px; margin-bottom: 24px; margin-top:12px; overflow: hidden; margin-left:auto; margin-right:auto;">
            <img id=<%=`streamer-${rank}-logo`%> style="max-width: 100%; max-height: 100%;" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e0bbc79b-7c05-473b-a95c-508cd88c5991-profile_image-300x300.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
            <span class="streamer-username" id=<%=`streamer-${rank}-user_name`%>>JinriTV</span>
            </div>
        </div>
    </div>
    <div class="row socials-container">
        <div class="col">
            <div >
            <a  id=<%=`streamer-${rank}-ig_link`%>>
                    <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/iglogo.png" />
                </a>
            </div>
        </div>
        <div class="col">
        <div >
        <a  id=<%=`streamer-${rank}-twitch_link`%>>
                <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/twitchlogo.png" />
            </a>
        </div>
    </div>
    <div class="col">
    <div >
    <a  id=<%=`streamer-${rank}-twitter_link`%>>
            <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/twitterlogo.png" />
        </a>
    </div>
</div>
    </div>
    <div class="row">
      <div class="col">
       
      </div>
    </div>
</div>
<div style="position: absolute; bottom: 0; margin-bottom:24px; left:0; right:0;">
<span class="percent-match"><strong id=<%=`streamer-${rank}-match`%>>98</strong>%</span>
</div>