<!doctype html>
<html lang="en">
  <head> <link href="../stylesheets/about.css" rel="stylesheet" /> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body id="full-page" class="<% Theme %>">
    <div class="container-fluid" style="max-width: 80%;">
      <div class="row about">
        <div class="col text-center">
          About Us
        </div>
        </div>
    </div>
    <div class="container-fluid" style="max-width: 60%;">
      <div class="row mainvideo text-center">
        <div class="col text-center">
          <img src = "https://s3-alpha-sig.figma.com/img/3312/5931/cb57ce7d60258832d38470e4a3c4f9b3?Expires=1617580800&Signature=c6zJqthYO3x1wUF~EeIBkKxtnBMGhXQENybEFiAx5gN2UpMduhJ8~yNdsQpYuR~PK2jazEXpKt1dkDjrp~l3CCS-MfWG4z-~Xf5c1ju3zS8W5kK434Dlphy2clEhLBzJwIKvV22Yu8ThpomDZ15MDGgiXdI-fnmW3pMDKcuvim0eid883lWq1gSTcaOZprzZGUUwQp-zJCP7uep~b-gRYG8ZY5yIha-g4Wbb~m78hWE6mVl8d5SbbMj4e5SEPfOZZggfza3617L6B1yPX9RW4ipfFVgkJhg-t20L74zeL5R7pXlaOldo2cFMeNM2~56DhmWZKhPKMTgBINc4hLu1GQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        </div>
      </div>
    </div>
    <div class="container-fluid" style="max-width: 80%;">
      <div class="row rectangle">
        <div class="col-2">
          IMAGE
        </div>
        <div class="col-10 abouttwiri">
          This is where you are here to listen to me talk about Twiri and how I started this programming
        </div>
      </div>
      <div class="row rectangle">
        <div class="col-2">
          IMAGE
        </div>
        <div class="col-10 abouttwiri">
          This is about JinriTV and how shes amazing at everythingggg :3
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <div class="timeline">
        <div class="timelinecontainer left">
          <div class="date">15 Dec</div>
          <i class="icon fa fa-home"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date">22 Oct</div>
          <i class="icon fa fa-gift"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="timelinecontainer left">
          <div class="date">10 Jul</div>
          <i class="icon fa fa-user"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date">18 May</div>
          <i class="icon fa fa-running"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="timelinecontainer left">
          <div class="date">10 Feb</div>
          <i class="icon fa fa-cog"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date">01 Jan</div>
          <i class="icon fa fa-certificate"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid background">
      <div class="row achievement text-center">
        <div class="col">
          Achievement
        </div>
      </div>
      <div class="row proudof text-center">
        <div class="col">
          We are proud of
        </div>
      </div>
      <div class="row text-center">
        <div class="col-2 offset-1 text-center">
          <!--
            we need to make a new file called achievement.ejs
          -->
          <%- include("./partials/achievement", {
            number: 20,
            title: "Users",
            subtitle: "Daily"
          }) %>
         
        </div>
        <div class="col-2 text-center">
          <%- include("./partials/achievement", {
            number: 43,
            title: "Contributors",
            subtitle: "Overall"
          }) %>
        </div>
        <div class="col-2 text-center">
          <%- include("./partials/achievement", {
            number: 152,
            title: "Viewers",
            subtitle: "per Stream"
          }) %>
        </div>
        <div class="col-2 text-center">
          <%- include("./partials/achievement", {
            number: 2437,
            title: "Matches",
            subtitle: "all in all"
          }) %>
        </div>
        <div class="col-2 text-center">
          <%- include("./partials/achievement", {
            number: "5★",
            title: "Star Rating",
            subtitle: "everywhere"
          }) %>
        </div>
      </div>
    </div>
    <div class="container-fluid ure_funny">
      <div class="row">
        Events 
      </div>
    </div>
    <div class="container">
      <div class="row">
        More Videos
      </div>
      <div class="row">
        <div class="col">
          Streamer React on TWIRI
        </div>
        <div class="col">
          Jinri Talks about TWIRI
        </div>
        <div class="col">
          Viewers react on TWIRI
        </div>
      </div>
    </div>
  </body>
</html>
