<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%- include ("./partials/stylesheets") %>
  <link href="/stylesheets/about.css" rel="stylesheet" />
</head>
<!-- pink circle <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640"><defs><path d="M432.9 320C432.9 382.31 382.31 432.9 320 432.9C257.69 432.9 207.1 382.31 207.1 320C207.1 257.69 257.69 207.1 320 207.1C382.31 207.1 432.9 257.69 432.9 320Z" id="a3OQc4AZJf"/></defs><g><g><g><use xlink:href="#a3OQc4AZJf" opacity="1" fill="#ff8fe7" fill-opacity="1"/></g></g></g></svg> -->
<body id="full-page" class="<%= Theme %>">
  <%- include ("./partials/header",{
      BrandName: getText('logoText'),
      thisLang: ThisLang,
      Languages, 
  }) %>
  <div>
    <span class="background-circle-1"></span>
    <span class="background-circle-2"></span>
    <span class="background-circle-3"></span>
    <span class="background-circle-4"></span>
    <span class="background-circle-5"></span>
  </div>
  <main id="aboutpage-main-container">
    <div class="aboutus-container container-fluid justify-content-center">
      <div class="container-fluid" style="max-width: 60%; margin: 0 auto;">
        <div class="row" style="position: relative;">
            <div class="text-center about" style="width: 100%;">
              <%- getText('About-Us')%>
            </div>
            <div class="text-center offsetText_hotshot about_small" aria-hidden="true">
              <%- getText('About-Us')%>
            </div>
        </div>
      </div>
      <div class="container-fluid" style="max-width: 60%;">
        <div class="row mainvideo justify-content-center mt-3">
          <iframe src="https://clips.twitch.tv/embed?clip=ArborealCleanGiraffeSoonerLater&parent=<%= process.env.TWIRI_URL %>" class="video-intro" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
        </div>
      </div>
      <div class="container">
        <div class="row rectangle about-twiri-row d-flex justify-content-center">
          <div class="col-4 col-lg-2 d-flex justify-content-center"> 
            <img class="people-image w-100 h-100 p-2" src="/images/people.svg">
          </div>
          <div class="col-12 col-lg-10 abouttwiri">
            <%- getText('about-twiri-description')%>
          </div>
        </div>
        <div class="row rectangle about-twiri-row d-flex justify-content-center">
          <div class="col-4 col-lg-2 d-flex justify-content-center">
            <img class="popup-image w-100 h-100 p-2" src="/images/popup.svg">
          </div>
          <div class="col-12 col-lg-10 abouttwiri">            
            <%- getText('about-jinritv-description')%>          
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid background">
      <div class="row achievement text-center">
        <div class="col">
          <%- getText('achievement')%>
        </div>
      </div>
      <div class="row proudof text-center">
        <div class="col">
          <%- getText('proud-of')%>
        </div>
      </div>
      <div class="row row-achievement text-center justify-content-center">
        <div class="col-2 col-achievement">
          <!--
              we need to make a new file called achievement.ejs
              why?
            -->
          <%- include("./partials/achievement", { number: 20, title: "Users" , subtitle: "Daily" }) %>

        </div>
        <div class="col-2 col-achievement">
          <%- include("./partials/achievement", { number: 26, title: "Contributors" , subtitle: "Overall" }) %>
        </div>
        <div class="col-2 col-achievement">
          <%- include("./partials/achievement", { number: 114, title: "Viewers" , subtitle: "per Stream" }) %>
        </div>
        <div class="col-2 col-achievement">
          <%- include("./partials/achievement", { number: 2437, title: "Matches" , subtitle: "all in all" }) %>
        </div>
        <div class="col-2 col-achievement">
          <%- include("./partials/achievement", { number: "4.87⭐" , title: "Star Rating" , subtitle: "everywhere" }) %>
        </div>
      </div>
    </div>
    <!-- This is @HOOYAZ, DON'T TOUCH THIS-->
    <div class="container-fluid events_ron ure_funny">
      <div class="row">
        <%- getText('timeline-events')%>
      </div>
    </div>
    <div class="container">
      <div class="timeline">
        <div class="timelinecontainer left">
          <div class="date">2020.05.22</div>
          <i class="icon fa fa-home"></i>
          <div class="content">
            <h2><%- getText('timeline-Data-Collection')%></h2>
            <p>
              <%- getText('timeline-data-collection-description')%>
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date">2020.06.06</div>
          <i class="icon fa fa-gift"></i>
          <div class="content">
            <h2><%- getText('timeline-Ideation')%></h2>
            <p>
              <%- getText('timeline-ideation-description')%>
            </p>
          </div>
        </div>
        <div class="timelinecontainer left">
          <div class="date">2020.06.16</div>
          <i class="icon fa fa-user"></i>
          <div class="content">
            <h2><%- getText('timeline-first-design')%></h2>
            <p>
              <%- getText('timeline-design-description')%>
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date">2021.01.12</div>
          <i class="icon fa fa-running"></i>
          <div class="content">
            <h2><%- getText('timeline-alpha')%></h2>
            <p>
              <%- getText('timeline-alpha-description')%>
            </p>
          </div>
        </div>
        <div class="timelinecontainer left">
          <div class="date">2021.05.31</div>
          <i class="icon fa fa-cog"></i>
          <div class="content">
            <h2><%- getText('timeline-beta')%></h2>
            <p>
              <%- getText('timeline-beta-description')%>
            </p>
          </div>
        </div>
        <div class="timelinecontainer right">
          <div class="date"><%- getText('timeline-TBD')%></div>
          <i class="icon fa fa-certificate"></i>
          <div class="content">
            <h2><%- getText('timeline-Official-Release')%></h2>
            <p>
              <%- getText('timeline-TBD')%>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid background mb-5">
      <div class="row achievement text-center">
        <div class="col">
          <%- getText('more-video')%>
        </div>
      </div>
      <!-- TWITCH EMBED REQUIREMENTS: https://dev.twitch.tv/docs/embed -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="row d-flex flex-column">
            <div class="col video_subtitle text-center">
              <%- getText('streamer-react')%>
            </div>
            <div class="col">
              <iframe src="https://clips.twitch.tv/embed?clip=SullenSpineyAxeTheRinger&parent=<%= process.env.TWIRI_URL %>" class="more-videos" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
            </div>
          </div> 
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row d-flex flex-column">
            <div class="col video_subtitle text-center">
              <%- getText('jinri-talk')%>
            </div>
            <div class="col">
              <iframe src="https://clips.twitch.tv/embed?clip=MotionlessMotionlessSnakeDoritosChip-1WZv6j9iLveRLtj7&parent=<%= process.env.TWIRI_URL %>" class="more-videos" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
            </div>
          </div> 
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row d-flex flex-column">
            <div class="col video_subtitle text-center">
              <%- getText('viewer-react')%>
            </div>
            <div class="col">
              <iframe src="https://clips.twitch.tv/embed?clip=BillowingSourHornetBCouch-NVTL1i_Y2uBgct8b&parent=<%= process.env.TWIRI_URL %>" class="more-videos" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </main>
  <%- include ("./partials/footer",{
      CopyrightText:  getText('copyright-text'),
      About:  getText('footer-about'),
      Submit:  getText('footer-submit'),
      Contribute:  getText('footer-contribute'),
  }) %>

</body>

<%- include ("./partials/scripts") %>
<script src="/javascripts/about.js"></script>
</html>