<%- include ("./partials/header",{
    BrandName: getText('logoText'),
    thisLang: ThisLang,
    Languages, 
}) %>
<!-- Begin page content -->
<main id="main-container" role="main" class="container">
  <div id="welcome-banner" style="z-index:777;" class="welcome-container row">
    <div id="welcome-text" style="z-index:777; opacity: 0;" class="col-lg-6 justify-content-center justify-content-lg-start">
      <div class="row justify-content-center justify-content-lg-start">
        <div id="animated-words-label1" class="animated-words dark-text"><%- getText('animated-words-label1') %></div>
      </div>
      <div class="row animated-words-container justify-content-center justify-content-lg-start"">
        <span id="animated-words-label2" class="animated-words dark-text"><%- getText('animated-words-label2') %></span>
        &nbsp;&nbsp;
        <span class="animated-words" id="keyword"></span>
      </div>
      <div class="row info-text d-flex d-lg-block text-center text-lg-left justify-content-center justify-content-lg-start">
         <%- getText('welcome-banner-title')%>
      </div>
      <div class="row matches-made-text d-none d-lg-block"><span id="num-matches">2000</span>+ <%-  getText('welcome-banner-matches-made') %></div>
      <div class="row justify-content-center justify-content-lg-start">
        <button type="button" onclick="openGeneratedQuizModal()" class="btn btn-start-quiz">
          <span id="find-streamer-button" style="font-size: 1.5em; color: cornsilk;"><%-  getText('find-streamer-button') %></span>
        </button>
      </div>
    </div>
    <div style="z-index:777;" class="col-lg-6 justify-content-center">
      <div class="detective" style="opacity:0;">
        <img class="img_detective" src="/images/mascot.png"/>
      </div>
  </div>
  </div>
  <div id="generated-result-page" style="z-index:500;" class="results-container">
    <%- include("./partials/result_page", {getText}) %>
  </div>
  <%- include ("./partials/background") %>
</main>

<%- include ("./partials/footer",{
    CopyrightText:  getText('copyright-text'),
    About:  getText('footer-about'),
    Submit:  getText('footer-submit'),
    Contribute:  getText('footer-contribute'),
}) %>

<%- include ("./partials/quiz_modal",{ getText, Quiz }) %>