<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%- include ("./partials/stylesheets") %>
  <link href="/stylesheets/submission.css" rel="stylesheet" />
</head>

<body id="full-page" class="<%= Theme %>">
  <%- include ("./partials/header",{
      BrandName: getText('logoText'),
      thisLang: ThisLang,
      Languages, 
  }) %>
  <main id="submission-page-main-container">
    <div class="submission-container container-fluid justify-content-center">
      <div class="submission-header-container container-fluid justify-content-center">
        <div class="row justify-content-center submit-channel-text">
          Submit a Channel
        </div>
        <div class="row justify-content-center channel-condition">
          * At least 500 Followers / 10 avg. Viewers
        </div>
      </div>
      <div class="container-fluid form-container">
        <div class="row">
          <div class="col-lg-3 d-none d-lg-block">
            <div class="text-label row justify-content-center">
              <%- getText('submitted-streamer')%>
            </div>
            <div class="row justify-content-center m-2">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/?listType=playlist&list=PL9ilkwlYk9scRcWskp8JBQpGeAPmO4xN2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row justify-content-center m-2">
              <!-- <img src="/images/streamer5.png"> -->
            </div>
          </div>
          <div class="col-lg-6">
           <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeb787vidx-A7NMZW6jb2Nv_vBvopvYdqtgfQJG9fs5RLsn_Q/viewform?embedded=true" width="1000" height="1080" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
        </div>
      </div>
    </div>
          <!--
          <div class="col-lg-6">
            <form onsubmit="submitFormEvent(event)">
              <div class="row mt-3 justify-content-between">
                <div class="col-12 col-lg-5">
                  <div class="row">
                    <label name="submitterName">Name</label>
                  </div>
                  <div class="row">
                    <input name="submitterName" type="text" class="w-100">
                  </div>
                </div>
                <div class="col-12 col-lg-5">
                  <div class="row">
                    <label name="submitterTwitchUsername">Your Twitch username</label>
                  </div>
                  <div class="row">
                    <input name="submitterTwitchUsername" type="text" class="w-100">
                  </div>
                </div>
              </div>
              <div class="row mt-3 justify-content-center justify-content-lg-start align-items-center">
                <label class="m-1">Do you follow JinriTV?</label>
                <span class="p-1"></span>
                <input type="radio" name="isFollower" value="yes" checked>
                  <label class="m-1">Yes</label>
                </input>
                <span class="p-1"></span>
                <input type="radio" name="isFollower" value="no">
                  <label class="m-1">No</label>
                </input>
              </div>
              <div class="row mt-3 justify-content-between">
                <div class="col-12 col-lg-5">
                  <div class="row">
                    <label name="streamerName">Streamer name</label>
                  </div>
                  <div class="row">
                    <input name="streamerName" type="text" class="w-100">
                  </div>
                </div>
                <div class="col-12 col-lg-5">
                  <div class="row">
                    <label name="streamerTwitchUsername">Streamer Twitch username</label>
                  </div>
                  <div class="row">
                    <input name="streamerTwitchUsername" type="text" class="w-100">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div class="row">
                    <label name="message">Message</label>
                  </div>
                  <div class="row">
                    <textarea name="message" class="w-100" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="row mt-3 justify-content-center">
                <button type="submit" class="submit-button">Submit!</button>
              </div>
            </form>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <img src="/images/mascot.png">
          </div>
        </div>
      </div>
    </div>!-->
  </main>
  <%- include ("./partials/footer",{
      CopyrightText:  getText('copyright-text'),
      About:  getText('footer-about'),
      Submit:  getText('footer-submit'),
      Contribute:  getText('footer-contribute'),
  }) %>

</body>

<%- include ("./partials/scripts") %>
<script src="/javascripts/submission.js"></script>
</html>