<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%- include ("./partials/stylesheets") %>
  <link href="/stylesheets/submission.css" rel="stylesheet" />
</head>

<body id="full-page" class="<%= Theme %>">
  <%- include ("./partials/header",{
      BrandName: getText('logoText'),
      thisLang: ThisLang,
      Languages, 
  }) %>
  <main id="submission-page-main-container">
    <div class="submission-container container-fluid justify-content-center">
      <div class="submission-header-container container-fluid justify-content-center">
        <div class="row justify-content-center submit-channel-text">
          Submit a Channel
        </div>
        <div class="row justify-content-center channel-condition">
          * At least 500 Followers / 10 avg. Viewers
        </div>
      </div>
      <div class="container-fluid form-container">
        <div class="row">
          <div class="col-lg-3 d-none d-lg-block">
            <div class="text-label row justify-content-center">
              <%- getText('submitted-streamer')%>
            </div>
            <div class="row justify-content-center m-2">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/?listType=playlist&list=PL9ilkwlYk9scRcWskp8JBQpGeAPmO4xN2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row justify-content-center m-2">
              <!-- <img src="/images/streamer5.png"> -->
            </div>
          </div>
          <div class="col-lg-6">
           <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeb787vidx-A7NMZW6jb2Nv_vBvopvYdqtgfQJG9fs5RLsn_Q/viewform?embedded=true" width="1000" height="1080" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="text-label row justify-content-center">
              Leaderboard
            </div>
            <div class="row justify-content-center m-2">
              <table class="leaderboard-results">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Points</th>
                  </tr>
                </thead>

                <!-- remove the test data later and link to backend -->
                <% 
                const leaderboardList = [
                  { rank: 1, name: "Jinritv", points: 50 },
                  { rank: 2, name: "Loco", points: 25 },
                  { rank: 3, name: "Extendedsilence", points: 15 },
                  { rank: 4, name: "Secretary", points: 14 },
                  { rank: 5, name: "underthesnow", points: 10 },
                  { rank: 6, name: "kuro", points: 8 },
                  { rank: 7, name: "9dog", points: 7 },
                  { rank: 8, name: "Marktheboss", points: 5 },
                  { rank: 9, name: "holychan", points: 5 },
                  { rank: 10, name: "Seyther", points: 5 },
                ];
                %>
                <% leaderboardList.map(item => { %>
                  <tr>
                    <% if (item.rank == 1) { %>
                      <td><img src="images/miocoin-gold.png" alt="1" class="ranking-coin-img" /></td>
                    <% } else if (item.rank == 2) { %>
                      <td><img src="images/miocoin-silver.png" alt="2" class="ranking-coin-img" /></td>
                    <% } else if (item.rank == 3) { %>
                      <td><img src="images/miocoin-bronze.png" alt="3" class="ranking-coin-img" /></td>
                    <% } else { %>
                      <td><%= item.rank %></td>
                    <% } %>
                    <td><%= item.name %></td>
                    <td><%= item.points %></td>
                  </tr>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include ("./partials/footer",{
      CopyrightText:  getText('copyright-text'),
      About:  getText('footer-about'),
      Submit:  getText('footer-submit'),
      Contribute:  getText('footer-contribute'),
  }) %>

</body>

<%- include ("./partials/scripts") %>
<script src="/javascripts/submission.js"></script>
</html>